/* /@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css"; */
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(f1.jpg) no-repeat ;
  background-size: cover;
}

header
{
	background-color: #2e3131;
	height: 50px;
}
.main-nav1
{
	float: right; 
	list-style: none;
	margin-top: -8px;
	margin-left: 400px;
}

.main-nav1 li
{
	display: inline-block;
}

.main-nav1 li a
{
	color: white;
	text-decoration: none;
	padding: 7px 10px;
	font-size: 15px;
}

/* .main-nav1 li a:hover
{
  border: 1px solid white;
  border-radius: 24px; 
} */



.login-box{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  
  text-align: center;
}
.login-box h1{
  border:0;
  background:none;
  display:block;
  /* margin:20px auto; */
  text-align: center;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

/* ------------------------------------------text & animation------------- */
.text1
{
color:white;
font-weight: 700;
letter-spacing: 2px;
margin-bottom:20px; 
position:relative;
animation: text 2.5s 1;
}


@keyframes text 
{ 0%
  { color: black;
    margin-top:-40px;
   }
  20%
  {
  letter-spacing: 25px;
  margin-top:-40px;

  }
  85%
  {  letter-spacing: 8px;
   margin-top: -40px;
  }

}
.text2
{
  font-size: 20px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  position:absolute;
animation: htext 2.5s 1;
}

@keyframes htext 
{ 0%
  { color: black;
    margin-bottom:-40px;
   }
  20%
  {
  letter-spacing: 25px;
  margin-bottom:-20px;

  }
  85%
  {  
    letter-spacing: 8px;
   margin-bottom: -15px;
  }

}
/* --------------------------------------textbox starts-------------- */
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0; 
  margin: 8px 0;
  /* border-bottom: 1px solid #4caf50; */
}
/* ----------------------for icon ------------ */
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: 0;
  outline: none;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
 border:2px solid #4caf50;
 padding: 14px 10px;

  color: white;
  font-size: 18px;
  width: 200px;
  outline:none;
  
  
  float: left;
  margin: 0 10px;
  border-radius: 24px;
  transition: 0.5s;
}


.textbox input[type= text]:focus,.textbox input[type=password]:focus 
{

width: 350px;
 
}


/* --------------------doesnot work */
.textbox span{
    border: none;
    outline: none;
    background: none;
    color: red;
    font-size: 10px;
    width: 80%;
    float: right;
    margin: 0 100px;


}
/* -------------------------------------------------------- */
.btn{
  width: 50%; 
  border: 2px solid #4caf50;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;

  transition: 1.5s all ease;
  position: relative;
  overflow: hidden;
}

.btn2
{ border:0;
  color:white;
width:auto;

}
.btn2:hover
{
  

  background: white;
  color: #2e3131;
  border-radius: 24px;
}

.btn1
{ color: white;
  border-radius: 24px;

}


.btn1:hover
{ 
  background: white;
  color : #3489db;
  transform: scale(1.05);

}

/* ---------------for button animation------------------- */
.btn::before
{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: green;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before{
  height: 180%;
}

/* --------------------------------------------- */