body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(f9.jpg) no-repeat ;
    color:white;
    background-size: cover;
  }

  /* ----------------------------text animation---------- */
  
.container
  { text-align: center;
    position: relative;
    
  }
.container span
  {
    
  text-transform: uppercase;
  display: block;

  }
.text1
{
color:white;
font-size: 24px;
font-weight: 700;
letter-spacing: 2px;
margin-bottom:10px; 
position:relative;
animation: text 3s 1;


}
.text2
{
  font-size: 14px;
  color: #6ab04c;
}
@keyframes text 
{ 0%
  { color: black;
    margin-bottom:-40px;
   }
  20%
  {
  letter-spacing: 25px;
  margin-bottom:-40px;

  }
  85%
  {  letter-spacing: 8px;
   margin-bottom: -40px;
  }

}

/* ----------------------------------------------- */
.form
{ 
 

 margin-top:20px;
  margin-left: 10px;
  /* transform: translate(-50%,-50%); */
  color: white;
 

}  

label{
    display: block;
  }

  .textbox{
    width: 50%;
    overflow: hidden;
    font-size: 12px;
    /* float: right; */
    /* padding: 8px 0; */
    margin: 8px ;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #4caf50; */
  }
  
  .textbox input
  {
    border: 0;
    outline: none;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
   border:2px solid #4caf50;
   padding: 14px 10px;
  
    color: white;
    font-size: 18px;
    width: 250px;
    outline:none;
    
    
    float: left;
    margin: 0 10px;
    border-radius: 24px;
    transition: 0.5s;
  }

  .textbox input[type= text]:focus,.textbox input[type=password]:focus 
{
float:auto;
width: 350px;
 
}

.textbox span{
  border: none;
  outline: none;
  background: none;
  color: red;
  font-size: 10px;
  width: 80%;
  float: right;
  margin: 0 100px;


}

/* ------------------------------button------------------------------ */
.cnt
{
margin-left: 45%;
}

.btn{
  width: 50%; 
  border: 2px solid #4caf50;
  background: none;
  padding: 14px 60px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 30px 0;
  text-transform: uppercase;
  padding: 14px;

  position: relative;
  overflow: hidden;
  transition: 1.5s all ease;
 
}
.btn1
{ color:white;
  border-radius: 24px;
  width: 200px;
  
}

.btn1:hover
{  background: white;
  color : #3489db;
  transform: scale(1.05);


}

/*--------------------------------for button hover effects---------*/


/* .btn::before
{
background: #ff7675;
content:"";
position: absolute;
top: 50%;
left:50%;
transform:translate(-50%,-50%);
z-index: -1;
transition: all 0.6s ease;

}


.btn1::before
{
  width:0;
  height:100%;
}
.btn1:hover::before
{
 width:100%

} */

